# =============================================================================
# Override these values for your environment
# Copy this file to terraform.tfvars and edit
# =============================================================================

subscription_id      = "8a7af4dd-523e-4175-b231-d31d36752280"
tenant_id            = "9ca9b358-1044-426c-abf5-94ea79276525"
resource_group_name  = "rg-ai-hub-citadel-dev-02"
location             = "swedencentral"
storage_account_name = "mldemolakeshark"  # Must be globally unique, 3-24 chars, lowercase
ml_workspace_name    = "AI-WORKSPACE-shark"
environment          = "demo"
